<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Birthday</title>
</head>
<body>
    <div class="card">
        <div id="birthday-input">
            <form action="/birthday" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required><br><br>
                <label for="birthday">D.O.B:</label>
                <input type="date" id="dob" name="dob"><br><br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>

